@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
:root {
  --dark: hsl(209, 23%, 22%);
  --very-dark: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 52%);
}

.light {
  --dark: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --very-dark: hsl(0, 0%, 98%);
  --input: hsl(0, 0%, 52%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: 300;
  font-size: 2rem;
}

body {
  font-size: 1.6rem;
  background-color: var(--very-dark);
  min-height: 100vh;
  transition: 0.2s ease-out;
}

button,
a,
input {
  all: unset;
}

img,
svg {
  display: block;
  max-width: 100%;
}
section {
  width: 85%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: var(--dark);
  color: var(--text);
}

.navbar .title {
  font-weight: 600;
}

.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem 2rem;
}

.card {
  max-width: 240px;
  background-color: var(--dark);
  color: var(--text);
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--dark), inset 1px 1px 2px var(--dark);
  cursor: pointer;
}

.light .card,
.light .input,
.light .btn__back {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.card .card__details {
  padding: 1.5rem;
}

.card__details h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__details h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

.card__details h4 span {
  font-weight: 300;
}

.card img,
.card svg {
  width: 240px;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.btn {
  color: black;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.input {
  padding: 1rem;
  padding-left: 5rem;
  max-width: 200px;
  width: 100%;
  color: var(--text);
  border-radius: 0.5rem;
  background-color: var(--dark);
}

.filter {
  position: relative;
  display: flex;
  margin: 3rem;
  justify-content: space-between;
  align-items: center;
}

.filter .icon-search {
  position: absolute;
  font-size: 2rem;
  color: var(--text);
  margin-left: 2rem;
}

/* Detailed card */

.card__detailed,
.btn__back {
  padding-inline: 7rem;
}

.btn__back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 6rem 0 0 5rem;
  width: 15rem;
  margin-left: 5rem;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--text);
  box-shadow: 1px 2px 3px var(--very-dark), inset 1px 2px 3px var(--very-dark);
}
.card__detailed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
  background-color: var(--very-dark);
  min-height: 70vh;
  gap: 15rem;
}

.card__flag img {
  max-width: 500px;
  aspect-ratio: 16/11;
  width: 100%;
}

.card__detailed h4 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.card__detailed p {
  font-size: 2rem;
  font-weight: 400;
}

.card__detailed p span {
  font-size: 1.6rem;
  font-weight: 300;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.borders {
  margin-top: 3rem;
}

.borders p span {
  font-size: 1.2rem;
}

.border {
  padding: 0.5rem 1rem;
  background-color: var(--dark);
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.light .border {
  background-color: var(--input);
  color: white;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media (width <= 679px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .navbar .title {
    font-size: 1.8rem;
  }

  .mode p {
    display: none;
  }

  .filter {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: 3rem 1rem;
  }

  .filter input {
    padding: 1rem;
    padding-left: 4rem;
  }

  .filter .icon-search {
    margin: 1.5rem;
  }

  .card {
    max-width: 400px;
  }

  .card img,
  .card svg {
    max-width: 400px;
    width: 100%;
  }

  .card__detailed {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .card__detailed,
  .btn__back {
    padding-inline: 3rem;
  }

  .btn__back {
    margin: 3rem 0 3rem 2rem;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .borders {
    padding-inline-start: 1rem;
  }

  .border {
    padding: 0.8rem 1.6rem;
  }
}
